.App {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --colour-yellow: #f9c74f;
  --colour-purple: #9d4edd;
}

.bg-yellow {
  background-color: var(--colour-yellow);
}

.bg-purple {
  background-color: var(--colour-purple);
}

.chart .title {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
}
